@font-face {
  font-family: "Montserrattt";
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/montserrat-v14-latin-900italic.eot");
  src: local("Montserrat Black Italic"), local("Montserrat-BlackItalic"),
    url("../fonts/montserrat-v14-latin-900italic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/montserrat-v14-latin-900italic.woff2") format("woff2"),
    url("../fonts/montserrat-v14-latin-900italic.woff") format("woff"),
    url("../fonts/montserrat-v14-latin-900italic.ttf") format("truetype"),
    url("../fonts/montserrat-v14-latin-900italic.svg#Montserrat") format("svg");
}

:root {
  --colour: #47e376;
}

body {
  margin: 0 auto;
  max-width: 600px;
  color: black;
  font-family: "Merriweather", serif;
  font-size: 0.94rem;
}

::selection {
  color: black;
  background-color: #e5e5e6;
}

.container {
  margin: 1rem;
}

.main__header {
  font-family: "Montserrattt", sans-serif;
  font-weight: 900;
  font-size: 1.75rem;
  color: var(--colour);
}

.button {
  font-family: inherit;
}
.button {
  background: none;
  font-family: inherit;
  padding: 0rem;
  border: none;
  border-bottom: 1px solid var(--colour);
  font-size: 0.935rem;
  color: inherit;
  cursor: pointer;
  transition: color 0.3s ease;
}

.button:hover {
  color: var(--colour);
}

.button:focus {
  outline: none;
}

.nav__list {
  color: black;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  transition: color 0.3s ease;
}

.nav__link {
  list-style: none;
  font-size: 1.75rem;
  font-family: "Montserrattt", sans-serif;
}
