/* montserrat-900italic - latin */
@font-face {
  font-family: "Montserrattt";
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/montserrat-v14-latin-900italic.eot"); /* IE9 Compat Modes */
  src: local("Montserrat Black Italic"), local("Montserrat-BlackItalic"),
    url("../fonts/montserrat-v14-latin-900italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/montserrat-v14-latin-900italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/montserrat-v14-latin-900italic.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/montserrat-v14-latin-900italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat-v14-latin-900italic.svg") format("svg"); /* Legacy iOS */
}

:root {
  --colour: #47e376;
}

canvas {
  position: fixed !important;
  top: 0;
  right: 0;
  z-index: -1;
}

body {
  margin: 0 auto;
  max-width: 600px;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 0.97rem;
  line-height: 1.8rem;
  overflow-x: hidden;
}

hr {
  border: 0;
}

::selection {
  color: black;
  background-color: #e5e5e6;
}

.container {
  margin: 1rem;
}

.headline {
  margin: 0;
}

.headline__container {
  margin-top: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__header {
  font-family: "Montserrattt", sans-serif;
  font-size: 1.7rem;
  color: var(--colour);
  margin-bottom: 0.8rem;
  margin-top: 0.8rem;
}

.main__header:nth-child(1) {
  margin-top: 1rem;
}

.main__paragraph {
  margin-bottom: 1.5rem;
}

.main__paragraph:last-child {
  margin-bottom: 1.2rem;
}

.link {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid var(--colour);
  transition: color 0.3s ease;
}

.link:hover {
  color: var(--colour);
}

.button {
  background: none;
  font-family: inherit;
  font-size: inherit;
  padding: 0rem;
  border: none;
  border-bottom: 1px solid var(--colour);
  color: inherit;
  cursor: pointer;
  transition: color 0.3s ease;
}

.button:hover {
  color: var(--colour);
}

.button:focus {
  outline: none;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: color 0.3s ease;
}

.nav__link {
  text-align: center;
  color: inherit;
  text-decoration: none;
  font-size: 1.7rem;
  font-family: "Montserrattt", sans-serif;
}

#para1 {
  margin-bottom: 1.3rem;
}

@media (max-width: 400px) {
  body {
    font-size: 0.9rem;
  }
  .main__header {
    font-size: 1.3rem;
  }
  .nav__link {
    font-size: 1.3rem;
  }
}
