/* montserrat-900italic - latin */
@font-face {
  font-family: "Montserrattt";
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/montserrat-v14-latin-900italic.eot"); /* IE9 Compat Modes */
  src: local("Montserrat Black Italic"), local("Montserrat-BlackItalic"),
    url("../fonts/montserrat-v14-latin-900italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/montserrat-v14-latin-900italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/montserrat-v14-latin-900italic.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/montserrat-v14-latin-900italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat-v14-latin-900italic.svg#Montserrat")
      format("svg"); /* Legacy iOS */
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: 600px;
  background-color: #383838;
  color: black;
  font-family: "Merriweather", serif;
  font-size: 0.94rem;
  color: #e5e5e6;
  box-sizing: border-box;
}

::selection {
  color: black;
  background-color: #e5e5e6;
}

.container {
  margin: 1rem;
}

.main__header {
  font-family: "Montserrattt", sans-serif;
  font-weight: 900;
  font-size: 1.75rem;
  color: #47e376;
}

.button {
  background: none;
  font-family: inherit;
  padding: 0rem;
  border: none;
  border-bottom: 1px solid #47e376;
  font-size: 0.94rem;
  color: #e5e5e6;
  cursor: pointer;
  transition: color 0.3s ease;
}

.button:hover {
  color: #47e376;
}

.button:focus {
  outline: none;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.nav__link {
  list-style: none;
  font-size: 1.75rem;
  font-family: "Montserrattt", sans-serif;
}
